#topContent {
    border-bottom: 2px solid black;
    padding-bottom: 5vw;
}

#Text1 {
    display: inline-block;
    width: 60vw;
}

#Image1 {
    width: 25vw;
}

#text2 {
    margin: 5vw;
}

#image2 {
    width: 150px;
    padding-left: 3em;
}

#bottomContent {
    width: 80vw;
    padding-top: 10pt;
    padding-left: 10pt;
}

#text3 {
    width: 50%;
}

#text4 {
    font-size: 2rem;
    padding-top: 1rem;
    padding-left: 2.5rem;
}

#image3 {
    height: 25vh;
    padding-left: 4rem;
}